.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  letter-spacing: 0.04em;
  line-height: 16px;
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  text-transform: uppercase;
}
